ion-toolbar{
    --background: #80deea;
  }

  ion-back-button {
      --color: black;
  }

  .painike {
      padding-top: 20px;
      color: #80deea;
  }

  .card {
      text-align: center;
      padding-bottom: 10px;
  }