ion-toolbar{
    --background: #80deea;
  }

  ion-icon {
    padding-right: 10px;
}

ion-back-button {
    --color: black;
}

ion-item{ --border-color: #80deea; 
}

.ion-color-button {
    --ion-color-base: #424a4b;
    color:#80deea;
    margin-top: 15px;
  }
  .kortti {
    padding: 10px;
  }
