ion-back-button {
    --color: black;
}

ion-toolbar{
    --background: #80deea;
  }

  .hed {
      font-weight: bold;
      padding-left: 10px;
  }

  .p {
    padding-left: 10px;
  }
  .kortti {
      padding:10px;
  }