h1 {
    margin-left: 10px;
}
h2 {
    margin-left: 15px;
}
p {
    margin-left:20px;
    margin-right: 10px;
}

ion-back-button {
    --color: black;
}

ion-toolbar{
    --background: #80deea;
  }

  .hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
  }