ion-back-button {
    --color: black;
}

ion-toolbar{
    --background: #80deea;
  }

 .hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
  }

  .company {
      text-align: center;
      background-color: #80deea;
      margin-left: 90px;
      margin-right: 90px;
    
  }

  .text {
      padding-left: 20px;
  }
  
